*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.slider {
    background: #eee;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-button-next, .swiper-button-prev {
      opacity: 0;

      
  }

a{
    text-decoration: none;
}

li{
    text-decoration: none;
}

.logo{
    background: white;
    width: 50%;
    margin: 0 auto;
}

.graficlogo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

nav {
    margin: auto;
    width: 800px;
    height: 50px;
    
}

.topnav {
    background-color: #fff;
    font-size: 14px;
    margin-top: 40px;
    position: relative;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    position: relative;

}

.topnav a:hover {
    border-bottom: 2px solid #000;
}

.topnav .icon {
    display: none;
    position: relative;
}

.btn {
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    
    
}

.mw-100 {
    max-width: 100%;
    margin-bottom: 10vh;

}

.advantages_container {
    display: flex;
    justify-content: center;
}

.advantages{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.advantages_item {
    width: 30%;
}
footer{
    background-color: black;
}

.footer {
        position: relative;
        margin-top: 300px;
        width: 100%;
        color: #737373;
        text-align: center;
        font-family: 'Oxanium', cursive;
        font-family: 'Spartan', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
    }


@media screen and (max-width: 768px){
    .swiper-container {
        display: block;
    
    }
    .topnav a:not(:first-child) {
        display: none;
        position: relative;
    
    }

    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
        position: relative;
        
    }

    nav{
        width: 100%;
        position: relative;
    
    }

    .topnav.responsive{
        position: relative;
        margin-bottom: 300px; 
    }

    .topnav.topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        position: relative;
    }

    .advantages_item{
        width: 45%;
        

    }
}

@media screen and (max-width: 420px){
    .advantages{
        flex-direction: column;
    }

    .advantages_item{
        width: 100%;
    }
}

.header {
    width: 100%;
    height: 900px;
    background-color: white;
}

.blog-container {
    background: #fafafa;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50rem;
}

.blog-container a:hover{
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.blog-cover{
    background: url();
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}

.blog-body{
    margin: 0 auto;
    width: 80%;

}

.form {
    position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

#log-container {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}



